* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
  margin: 20px 80px;
  color: white;
}
li:hover{
  /* border: .1px solid rgb(74, 74, 234); */
  box-shadow: 0px 0px 3px 7px rgba(68, 149, 241, 0.522);
  
}

li {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.2px solid #747272;
  box-shadow: 0px 0px 3px 7px rgb(147, 205, 147, 0.2);
  padding: 15px;
  border-radius: 5px;
  outline: none;
 }

li:last-child,
li:nth-child(4),
li:nth-child(5){
  margin-bottom: 30px;
}
li:nth-child(1){
  background-image: url('https://images6.alphacoders.com/589/589951.jpg');
  background-repeat: repeat;
  background-size: contain;
 
}
li:nth-child(2){
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8koQQ3zGY0tub3qP3zap50UkR2E017QJnpQE8gN_HW4xwEDmfPRtuLEY3Ouh28Yg8tzQ&usqp=CAU');
  background-repeat: repeat;
  background-size: contain;
  
}
li:nth-child(3){
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFnucM4aodLidzJjIna2XQ33OvS0-i3hXTYoYrJ2EoMgwwBdty9XTfarrqbx4tqYIsDGM&usqp=CAU');
  background-repeat: repeat;
  background-size: contain;
  
}
li:nth-child(4){
  background-image: url('https://c4.wallpaperflare.com/wallpaper/855/698/460/science-fiction-cityscape-futuristic-star-wars-wallpaper-preview.jpg');
  background-repeat: repeat;
  background-size: contain;
 
}
li:nth-child(5){
  background-image: url('https://c4.wallpaperflare.com/wallpaper/380/216/49/mandalorians-star-wars-cyberpunk-futuristic-cyber-hd-wallpaper-preview.jpg');
  background-repeat: repeat;
  background-size: contain;
 
}
li:nth-child(6){
  background-image: url('https://c4.wallpaperflare.com/wallpaper/281/135/661/disney-castle-r2-d2-bb-8-star-wars-wallpaper-preview.jpg');
  background-repeat: repeat;
  background-size: contain;

}
h1{
 color: yellow;
 font-size: 100px;
 padding-left: 400px;
}

.imgCard{
  width: 250px;
  height: 250px;
}

.redborder{
  padding: 20px 0px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-bottom: 1px solid red;
}
.title{
  font-size: 17px;
}
.date{
  color: #b8b6b6;
}

.link{
  color: yellow;
  margin-top: 40px;
}

.pagedetails404{
background-color: #f2f2f2;
padding: 80px;
}
.details404{
  margin: 0 20%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Times New Roman', Times, serif;
}

 a{
  color: rgb(118, 118, 234);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.backListBtn{
  margin-top: 20px;
  background-color: bisque;
  /* outline: none; */
  border: 0.1px solid #747272;
  padding: 15px;
  border-radius: 5px;
}

.githubStatus{
  margin: 30px 0px;
}